/*colores 
Azul: #18206F
Azul mas claro: #17255A
Crema: #F5E2C8
Rosa: #D88373
Rojo: #BD1E1E


*/
/*Media Queries*/

@media (max-width: 1400px) {
    .row {
      flex-direction: column;
    }
    .col {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 1400px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .col {
      margin-bottom: 20px;
      text-align: center; 
    }
    .imagen__instituto {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 1400px) {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .col {
      margin-bottom: 20px;
      text-align: center;
    }
    .imagen__instituto {
      margin: 0 auto;
    }
  }
  
  @media (max-width: 1400px) {
    .iframe-container {
      max-width: 100%;
      margin-bottom: 20px;
    }
    
    .iframe-container iframe {
      width: 100%;
      height: 400px;
    }
  }



  .iframe-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .iframe-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
  }
  
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .logo-ibo {
    height: 150px;
  }
  
  .barra-navegacion {
    background-color: #F5E2C8;
    height: 200px;
    width: 100%;
  }
  
  nav.navbar {
    background-color: transparent;
  }
  
  .listado__navegacion {
    margin: 10px;
    padding: 30px;
  }
  
  .listado__navegacion li {
    margin: 12px;
  }
  
  .nosotros {
    padding: 50px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  
  .nosotros__titulo {
    font-size: 3rem;
    color: #18206F;
  }
  
  .nosotros__texto {
    font-size: 2rem;
    color: black;
  }
  
  .imagen__instituto {
    width: 700px;
    height: auto;
    border: 2px solid #F5E2C8;
  }
  
  .aulas__titulo {
    font-size: 3rem;
    color: #18206F; 
    text-align: center;
  }
  
  .aulas__texto {
    font-size: 2rem;
    color: black;
    text-align: center;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .logo-text div {
    margin-top: 5px;
  }
  
  .logo-text a {
    color: inherit;
    text-decoration: none;
    
  }

  .hoverable-dropdown:hover .dropdown-menu {
    display: block;
  }

  .navbar-nav .nav-link {
    color: black;
  }
  
  .btn-color {
    background-color: black;
    border-color: #17255A;
    color: #F5E2C8;
    
  }
  
    
   
































/* body{
    background-color: #F5E2C8;
}

header{
    width: auto;
    z-index: 100;
}

body header nav img.logo-ibo{
    background-color:white;
    padding: 30px;
    height: 170px;
    width: 170px;
    align-items: center;
    display: block;
   
    
}

header h1.titulo{ 
    height: 100px;
    width: 100px;
    padding: 0px;
    font-size: 35px;
    font-weight: bold;
    margin-top: -150px;
    margin-left: 200px;
    display: block;
}

#menu-navegacion {
    background-color: #17255A;
    width: auto;
    height: auto;
    display: block;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 0px;
    position: fixed;
    right: 0px;
    top: 50px;


} 

#menu-navegacion ul{
    list-style: none;
    
}

 #menu-navegacion ul li{
    display: inline-block;
    padding: 0;
}

#menu-navegacion ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 97px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
       
}

#menu-navegacion ul li a:hover{
    background-color: #BD1E1E;
    width: auto;
      
}

 div{
    width: 400px;
    height: 400px;
} 
div h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    font-style: bold;
    position: absolute;
    top: 400px; left: 50%;

}

div p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: bold;
    position: fixed;
    top: 600px; 
    left: 50%;
    right: 50%;
    width: 300px;
    height: 300px;
}
 */